$color-main: rgb(30 41 59);

.icon-header{
    &:hover{
        background-color: $color-main;
        transition: 0.5s;
       span{
        color:  #fff;
       }
       .icon{
        color: #fff;
       }
    }
}

.card-product{
    &:hover{
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        transition: 0.5s;
    }
}