$color-main: rgb(30 41 59);
$color-btn-buy: rgb(220 38 38 / var(--tw-text-opacity));


.card-product{
    &:hover{
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        transition: 0.5s;
    }
}

.btn-buy{
    &:hover{
        background-color: $color-btn-buy;
        color: #fff;
        opacity: 0.9;
        transition: 0.3s;
        .icon{
            color: #fff;
            transition: 0.3s;
        }
    }

    
}